/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/09/2014, 17:31:58
    Author     : Andre Luiz Fernandes Ribeiro Barca
*/
/********************************** html & body ********************************/
@media (max-width: 767px) {
    hr {
        background-color: #fff;
    }
}

/********************************** menu top **********************************/
.navbar {
    background: #00588f;
}

.appTitle {
    color: #ffffff;
}

.arrowLeft {
    background-image: url("#{resource['img/arrow-left.png']}");
}

.arrowRight {
    background-image: url("#{resource['img/arrow-right.png']}");
}

.toolbar {
    border: 1px solid #1c1a26;
    color: #fff;
    background:  #333;
    text-shadow: none;

}

.mini-menu {
    color: #fff!important;
}

.mini-menu:hover {
    color: #ffff00!important;
}

.eventTitle {
}

.appTopbar {
}

.selectedItemIcon {
    border: 1px solid #5a575f;
}

.selectedItemIcon:hover {
    background-position: 0 -24px; 
}

/********************************* menu left **********************************/
.menuLeft {
    background-color: #333;
    border: 1px solid #333;
}

.filters {
    background-color: #333;
    border: 1px solid #555;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.filterContent {
    color: #efefef;
    background: transparent;
}

.filterContent select, input {
    color: #333;
    border: 1px solid #333;
}

.menuButton {
    background-color: transparent;
}

.inputSearch {
    background-image: url("#{resource['img/filter.png']}");
}


.textFilterIcon {
    background-image: url("#{resource['img/textoFilter.png']}");
}

.interessadoIcon {
    background-image: url("#{resource['img/interessado.png']}");
}
.interessadoFilterIcon {
    background-image: url("#{resource['img/interessadoFilter.png']}");
}

.regionalFilterIcon {
    background-image: url("#{resource['img/regionalFilter.png']}");
}

.periodoFilterIcon {
    background-image: url("#{resource['img/periodoFilter.png']}");
}

.regionalIcon {
    background-image: url("#{resource['img/regional.png']}");
}

.searchIcon {
    background-image: url("#{resource['img/search.png']}");
}

.calendarIcon {
    background-image: url("#{resource['img/calendar.png']}");
}

.eventIcon {
    background-image: url("#{resource['img/event.png']}");
}

.menuIconList {
    background-image: url("#{resource['img/mini-menu-list.png']}");
}

.menuIconSearch {
    background-image: url("#{resource['img/mini-menu-search.png']}");
}

.userIcon {
    background-image: url("#{resource['img/user.png']}");
}

.interessadoDetailIcon {
    background-image: url("#{resource['img/interessadoDetail.png']}");
}

.regionalDetailIcon {
    background-image: url("#{resource['img/regionalDetail.png']}");
}

.backButton {
    display: none;
    margin-right: 8px;
    background: url("#{resource['img/back-button.png']}");
}

.filterButton {
    background: url("#{resource['img/ok-button.png']}");
}

.resetButton {
    background: url("#{resource['img/reset.png']}");
}

@media(max-width: 767px) {
    .backButton {
        background: url("#{resource['img/back-button.png']}");
    }
}

/********************************* content ************************************/
.content {
    color: #fff;
    background-color: #000;
}

@media(max-width: 767px) {
    .content.toggle {
        background: transparent;
    }
}


/************************************ event ***********************************/
.eventDisplay {
    margin-left: 0;
    margin-right: 0;
}

.eventDisplay div:first-child {
    background-color: transparent;
}

.event h1 {
    font-size: 1.5em;
    color: #fff;    
}

.event h2 {
    font-size: 1.5em;
    color: #fff;
}

.event p {
    font-size: 1.2em;
    color: #fff;
}

.event div div {
    display: inline-block;
    border: none!important;
    background-color: transparent;
}

.detail {
    width: 100%;
    display: none;
}

.eventSeparator {
    border: none;
    height: 1px;
    background-color: #999;
    margin-top: 4px;
    margin-bottom: 16px;
    margin-left: 10%;
    margin-right: 10%;
}


.toggle {
    display: block;
}

.detailToggle {
    display: block;
    width: auto;
    border: 1px;
    padding: 4px;
    background: #222;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.detailToggle a {
    color: #fff;
    display: inline-block;
    width: 100%;
    margin-left: 4px;
    cursor: pointer;
    text-decoration: none;
}

.detailToggle a:hover {
    color: #ffff00;
}

.detailInteressadoRegional {
    width: 100%;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 0;
    background-color: #222!important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow: hidden;
}

.event ul {
    padding: 0;
}


.event ul li {
    color: #ffff99;
    display: inline-block;
    margin: 2px 4px 2px 4px;
    border: 1px solid #b4d2c8;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.detailInteressadoRegionalTag {
    width: 128px;
    color: #fff;
    padding: 2px 12px 2px 12px;
    border-right: 1px solid #ccc!important;
}

.detailInteressadoRegionalIcon {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0px;

}

@media(max-width: 767px) {
    .event {
        margin: 8px 4px 8px 4px;
        padding: 2px 8px 2px 8px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }    
    .event h1 {
        font-size: 1.2em;
        vertical-align: auto;
        display:initial;
    }

    .event h2 {
        display: block;
        font-size: 1em;
        margin-left: 0;
    }    

    .detailInteressadoRegional {
        width: 100%;
        height: auto;
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        overflow: hidden;
    }

    .detailInteressadoRegionalTag {
        width: 100%;
        padding: 0;
    }
}

/********************************* generic styles******************************/
.menuLabel {
    display: inline-block;
    color: #ffffff;
    margin-top: 8px;
    margin-left: 16px;

}

.toolbarLabel {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    padding: 0.32em;
}

.transitionDefault {
    -o-transition: all 250ms;
    -moz-transition: all 250ms;
    -webkit-transition: all 250ms;
    transition: all 250ms;    
}

.iconDefault {
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    border-radius: 0;
}

.labelSpace {
    margin-right: 1em;
}

.defaultTable {
    width: 100%;
}

.col5 {
    width: 5%;
}

.col10 {
    width: 10%
}

.col15 {
    width: 15%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col30 {
    width: 30%; 
}

.col33 {
    width: 33%;
}

col40 {
    width: 40%;
}

.col50 {
    width: 50%;
}

.col60 {
    width: 60%;
}

.col66 {
    width: 66%;
}

.col70 {
    width: 70%;
}

.col75 {
    width: 75%;
}

.col80 {
    width: 80%;
}

.col85 {
    width: 85%;
}

.col90 {
    width: 90%;
}

.col95 {
    width: 95%;
}

.col100 {
    width: 100%;
}

.collapsedCol {
    visibility: visible;
}

@media(max-width: 767px) {
    .col5 {
        width: 10%;
    }
    .col10 {
        width: 20%;
    }

    .collapsedCol {
        width: 0;
        visibility: collapse;
        padding: 0!important;
        border: none!important;
    }

    .menuLabel {
        margin-left: 2px;
        font-size: 1em!important;
    }
}

.force100 {
    width: 98%!important;
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.floatCenter {
    margin-left: auto;
    margin-right: auto;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.highlighted {
    background: #ddd;
}

/************************************ admin pages *****************************/
.adminTopMenu {
    position: absolute;
    width: auto;
    height: 48px;
    top: 0; 
    left: 0;
    right: 0;
    background-color: #333;
}

.logoAdmin {
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 4px;
    border-right: 1px solid #ccc;
    padding-top: 2px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
}

.appTitleAdmin {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    color: #eee;
    margin: 6px;
    width: auto;
    height: 60px;
    vertical-align: middle;

}

.adminTopMenu form {
    display: inline-block;
    vertical-align: text-bottom;
}

@media(max-width: 767px) {
    .adminTopMenu {
        height: 114px;
    }

    .adminTopMenu form {
        margin-left: auto;
        margin-right: auto;
        background: #262626;
        display: block;
        text-align: center;
        margin-top: 0;
        position: relative;
        bottom: 6px;
    }
}


/***************************** admin content **********************************/
.contentAdmin {
    margin-top: 48px;
}

.eventoTab {
    height: 400px;
}

.eventoDetalhe {

}

.eventoDetalhe table td {
    border: 0;
}

.eventoDescricao {
    margin: 10px;
}

.item {
    width: auto;
    height: 40px;
    background-color: #eee;
    padding: 4px;
}

.itemIcon {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: auto;
    height: 32px;
    font-weight: bold!important;
    text-decoration: none;
    text-align: left;
    text-indent: 36px;
    vertical-align: middle;    
    display: table-cell;
}

.itemIcon:hover {
    text-decoration: none;
    background-position: 0 -32px;
}

.itemIcon.selection {
    color: #2eabe2!important;
    background-position: 0 -32px;
}

.itemCalendar {
    background-image: url("#{resource['img/calendar.png']}");
}

@media(max-width: 767px) {
    .contentAdmin {
        margin-top: 114px;
        display: block;
    }
}

/************************************ forms ***********************************/
.formGrid {
    width: 100%;
    margin: 2px;
}

.formGrid tr {
    border: 0 transparent;
}

.formGrid td {
    padding: 2px 0 2px 0;
}

.dialogButtons {
    text-align: center;
}

.dialogButtons button {
    margin-left: 4px;
    margin-right: 4px;
}

.separator {
    margin: 0;
}
