/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/09/2014, 17:31:58
    Author     : André
*/

/********************************** menu top **********************************/
.appTitle {
    margin-top: 0.4em;
}

.ufgLogo {
    vertical-align: middle;
}
.searchTerm {
    margin: 0.6em 0 0 0.6em!important;
    width: 95%;
}

/********************************* menu left **********************************/
.menuLeft {
    background-color: #428BCA;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    width: 20%;
    height: 100%;
    overflow-y: auto;
}

.toggled {
    margin-left: -20%;
}
/********************************* generic styles******************************/
.labelSpace {
    margin-right: 1em;
}