/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/09/2014, 17:31:58
    Author     : André
*/
/********************************** html & body ********************************/
body {
    font-size: 10pt;
    font-family: "gotham-light", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif;    
}

hr {
    border: none;
    height: 1px;
    background-color: #999;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

/********************************** ui override *******************************/
.ui-widget-header {
    border: 1px solid #1c1a26;
    background:  #37354d;
    color: #5c5caa;
    text-shadow: none;
}

.ui-panel-content, .ui-panel-content {
    padding: 0!important;
    overflow: visible!important;
}

.ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

@media (min-width: 767px) {
    .navbar-mini-buttons {
        display: none;
    };
}

@media (max-width: 767px) {
    div.ui-datepicker{
        font-size:1.2em!important;
        margin-left: auto;
        margin-right: auto;
    }
}


/********************************** menu top **********************************/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #00588f;
    z-index: 199;
}

.logo {
    float: left;
    margin-left: 32px;
    margin-top: 4px;
    margin-right: 32px;
    margin-bottom: 4px;
    vertical-align: middle;
}

.appTitle {
    display: inline-block;
    color: #ffffff;
    margin-top: 0.6em;
    font-size: 2em;
    font-weight: normal;
}

.menuCalendario {
   display: inline-block;
   width: 16px;
   height: 16px;
   background-position: 0 0;
}

.arrowLeft {
    margin-left: 8px;
    background-image: url("#{resource['img/arrow-left.png']}");
}

.arrowRight {
    margin-right: 8px;
    background-image: url("#{resource['img/arrow-right.png']}");
}

@media (max-width: 767px) {
    .logo {
        display: none;
    }

    .appTitle {
        margin-top: 16px;
        margin-left: 24px;
        font-size: 18px;
    }

    .mini-menu {
        background-image: url("#{resource['img/search.png']}");
        display: inline-block;
        float: right;
        margin: 12px;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle;
    }

    .mini-menu:hover {
        background-position: 0 -32px; 
    }
}

/********************************* menu left **********************************/
.menuLeft {
    position: fixed;
    width: 54px;
    height: 100%;    
    margin: 0;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;    
    background-color: #575757;
    overflow: hidden;
    border: 1px solid #333;
    z-index: 1000;
}

@media(max-width: 767px) {
    .menuLeft {
        display: none;
    }
}

.filters {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 60px;
    left: -100%;
    background-color: #575757;
    z-index: 1001;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #555;
    box-shadow: 2px 2px 8px #999;
    -moz-box-shadow: 2px 2px 8px #999;
    -webkit-box-shadow: 2px 2px 8px #999;
}

.filters.toggleMenu {
    left: 0;
}

.filters label {
    margin-right: 8px;
}

.filterButton:hover {
    background-position: 0 -32px;
}



.filterMenuContent {
    color: #efefef;
    padding: 16px;
}

.filterMenuContent select, input {
    color: #333;
    border: 1px solid #333;
}

.inputSearch {
    background-image: url("#{resource['img/filter.png']}");
    background-position: 99% 50%;
    background-repeat: no-repeat;
}

.menuItem {
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menuItem:hover {
    background-position: 0 -32px;    
}

.searchIcon {
    background-image: url("#{resource['img/search.png']}");
}

.calendarIcon {
    background-image: url("#{resource['img/calendar.png']}");
}

.eventIcon {
    background-image: url("#{resource['img/event.png']}");
}

.listIcon {
    background-image: url("#{resource['img/list.png']}");
}

.moduleIcon {
    background-image: url("#{resource['img/module.png']}");
}

.userIcon {
    background-image: url("#{resource['img/user.png']}");
}

.backButton {
    margin-right: 8px;
    background: url("#{resource['img/back-button.png']}");
}

.filterButton {
    background: url("#{resource['img/ok-button.png']}");
}

.resetButton {
    background: url("#{resource['img/reset.png']}");
}

.menuButton {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.menuButton:hover {
    background-position: 0 -32px;
}

@media(max-width: 767px) {
    .filters {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: #575757;
        z-index: 1001;
    }
}
/********************************* content ************************************/
.content {
    background-color: #e4e4e4;
}

@media(min-width: 767px) {
    .content {
        position: relative;
        margin-top: 60px;
        margin-left: 48px;
    }
}

@media(max-width: 767px) {
    .content {
        position: relative;
        margin-top: 60px;        
    }

    .content.toggle {
        display: none;
        background: transparent;
    }
}


/************************************ event ***********************************/
.eventDisplay {
    margin-left: 0;
    margin-right: 0;
}

.eventDisplay div:first-child {
    background-color: transparent;
}

.event {
    background-color: #fefefe;
    border: 1px solid #dcdcdc;
    margin: 8px 4px 8px 4px;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.event h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    color: #00027e;    
    margin-right: 1em;
}

.event h2 {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.2em;
    color: #f15a24;
    margin-right: 1em;
}

.event.detail {
    display: block;
}

.event span {
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: auto;
    border: 1px;
    padding: 4px;
    color: #fff;
    background: #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.event span:hover {
    color: #3333ff;
}

.event p {
    display: block;
}

.event div {
    display: inline-block;
    border: none!important;
    background-color: transparent;
}

.detailInteressadoRegional {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #a7e1c7!important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow: hidden;
}

.event ul {
    padding: 0;
}


.event ul li {
    color: #93278f;
    display: inline-block;
    margin: 2px 4px 2px 4px;
    border: 1px solid #888;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.detailInteressadoRegionalTag {
    width: 128px;
    color: #ffffff;
    background-color: #ff69a1!important;
    padding: 2px 12px 2px 12px;
}

.detailInteressadoRegionalIcon {
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

@media(min-width: 767px) {
    .event span {
        display: none;
    }
}
@media(max-width: 767px) {
    .event h1 {
        font-size: 1.2em;
        vertical-align: auto;
        display:initial;
    }

    .event h2 {
        display: block;
        font-size: 1em;
        margin-left: 0;
    }    
    .event p {
        display: none;
    }

    .event p.toggle {
        display: block;
    }

    .detailInteressadoRegionalTag {
        width: 100%;
        padding: 0;
    }
}

/********************************* generic styles******************************/
.menuLabel {
    color: #ffffff;
    margin-left: 16px;
}

.transitionDefault {
    -o-transition: all 250ms;
    -moz-transition: all 250ms;
    -webkit-transition: all 250ms;
    transition: all 250ms;    
}

.iconDefault {
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    border-radius: 0;
}

.labelSpace {
    margin-right: 1em;
}

.defaultTable {
    width: 100%;
}

.col5 {
    width: 5%;
}

.col10 {
    width: 10%
}

.col15 {
    width: 15%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col30 {
    width: 30%; 
}

.col33 {
    width: 33%;
}

col40 {
    width: 40%;
}

.col50 {
    width: 50%;
}

.col60 {
    width: 60%;
}

.col66 {
    width: 66%;
}

.col70 {
    width: 70%;
}

.col75 {
    width: 75%;
}

.col80 {
    width: 80%;
}

.col85 {
    width: 85%;
}

.col90 {
    width: 90%;
}

.col95 {
    width: 95%;
}

.col100 {
    width: 100%;
}

.collapsedCol {
    visibility: visible;
}

@media(max-width: 767px) {
    .col5 {
        width: 10%;
    }
    .col10 {
        width: 20%;
    }

    .collapsedCol {
        width: 0;
        visibility: collapse;
    }

    .menuLabel {
        margin-left: 2px;
        font-size: 1em!important;
    }
}

.force100 {
    width: 98%!important;
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.floatCenter {
    margin-left: auto;
    margin-right: auto;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.highlighted {
    background: #ddd;
}

/************************************ admin pages *****************************/
.adminTopMenu {
    position: absolute;
    width: auto;
    height: 64px;
    top: 0; 
    left: 0;
    right: 0;
    background-color: #333;
}

.logoAdmin {
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 4px;
    border-right: 1px solid #ccc;
    padding-top: 2px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
}

.appTitleAdmin {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    color: #eee;
    margin: 6px;
    width: auto;
    height: 64px;
    vertical-align: middle;
    line-height: 100%;
}

.adminTopMenu form {
    display: inline-block;
}

@media(max-width: 767px) {
    .adminTopMenu {
        height: 132px;
    }

    .adminTopMenu form {
        margin-left: auto;
        margin-right: auto;
        background: #262626;
        display: block;
        text-align: center;
        margin-top: 0;
        position: relative;
        bottom: 6px;
    }
}


/***************************** admin content **********************************/
.contentAdmin {
    margin-top: 66px;
}

.eventoTab {
    height: 400px;
}

.eventoDetalhe {

}

.eventoDetalhe table td {
    border: 0;
}

.eventoDescricao {
    margin: 10px;
}

.item {
    width: auto;
    height: 40px;
    background-color: #eee;
    padding: 4px;
}

.itemIcon {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: auto;
    height: 32px;
    font-weight: bold!important;
    text-decoration: none;
    text-align: left;
    text-indent: 36px;
    vertical-align: middle;    
    display: table-cell;
}

.itemIcon:hover {
    text-decoration: none;
    background-position: 0 -32px;
}

.itemIcon.selection {
    color: #2eabe2!important;
    background-position: 0 -32px;
}

.itemCalendar {
    background-image: url("#{resource['img/calendar.png']}");
}

@media(max-width: 767px) {
    .contentAdmin {
        margin-top: 134px;
        display: block;
    }
}

/************************************ forms ***********************************/
.formGrid {
    width: 100%;
    margin: 2px;
}

.formGrid tr {
    border: 0 transparent;
}

.formGrid td {
    padding: 2px 0 2px 0;
}

.dialogButtons {
    text-align: center;
}

.dialogButtons button {
    margin-left: 4px;
    margin-right: 4px;
}

.separator {
    margin: 0;
}

/************************************ footer **********************************/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    height: 32px;
    background: #777;
}

.ajaxStatus {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    float: right;
}

@media(max-width: 767px) {
    .footer {
        position: initial;
    }
}