/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/09/2014, 17:31:58
    Author     : André
*/

/********************************** menu top **********************************/
.menuTop {
    border-bottom: 1px solid #ccc;
}

.ufgLogo {
    vertical-align: middle;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-right: 1px dotted #fff;
}
.appTitle {
    color: white;
    display: inline;
    float: left;
}

.appTitleText {
    display: inline;
    font-weight: bold;
}

/********************************* menu left **********************************/
.menuLeft {
    float: left;
    width: 20%;
}

/********************************* generic styles******************************/
.labelSpace {
    margin-right: 1em;
}