/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/01/2015, 21:48:13
    Author     : andre
*/
/******************************** generic styles ******************************/
.horizontalRule {
    border: none;
    height: 1px;
    background-color: #999;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}
/***************************** base override **********************************/
.navbar {
    position: absolute;
}
/********************************** home **************************************/
.container {
    position: absolute;
    top: 86px;
    left: 10%;
    right: 10%;
    bottom: 2%;
    background: #fff;
    border: 2px solid #00588f;
    border-radius: 0 0 4px 4px;
    min-width: 800px;
    min-height: 540px;
}

.loginLink {
    float: right;
    background-image: url("#{resource['img/settings-mini.png']}");
    background-repeat: no-repeat;
    margin-top: 6px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    padding: 1px;
    opacity: 0.5;
    transition: all 0.25s ease-in-out;
}

.loginLink:hover {
    opacity: 1.0;
}


/******************************** contents ************************************/
#content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 106px;
    background-color: #575757;
    overflow: hidden;
}
/********************************** tabs **************************************/
.tabGroup {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

.tabGroup input[type="radio"] {
    display: none;
}

.tabGroup input[type="radio"] + label {
    display: inline-block;
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
    padding: 8px 8px;
    background-color:#b3b3b3;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    height: 20px;
}

.tabGroup input[type="radio"]:checked + label {
    background: #00588f;
    border-bottom: 0;
    margin-bottom: -1px;
    transition: all 300ms ease-in-out;
}

.tab {
    display: none;
    height: 100%;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.panelTitle {
    width: 100%;
    height: 36px;
    padding-top: 12px;
    background-color: #00588f;
    font-weight: normal;
    font-size: 14pt;
    border-bottom: 1px solid #52a0a1;
}

.panelTitle span:last-child{
    color: #fff;
    margin-right: 24px;
    float: right;
}

.panelTitle span:first-child {
    color: aquamarine;
    margin-left: 24px;
    float: left;
}

.panelInfoCalendar {
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 300px;
    color: #39235d;
    background:#b4d2c8;
}

.panelInfo {
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #39235d;
    background:#b4d2c8;
}

.panelInfoContent {
    position: absolute;
    top: 84px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #39235d;
    background:#b4d2c8;
}

.panelInfoItems {
    margin: 0;
    background: #b4d2c8;
    width: 100%;
    height: 100%;
    display: block;
}

.panelInfoItems  li {
    display: inline-block;
    list-style-type: none;
    margin: 1em;
    padding: 8px 0px 0 8px;
    min-width: 96px;
    height: 24px;
}

.panelInfoItems li a {
    color: #fff;
    background-color: #37354d;
    padding: 8px 0px 0 8px;
    text-decoration: none;
    width: 100%;
    border: 1px solid #39235d;
    text-indent: 28px;
    border-radius: 4px;
    background-position: 0 0;

}

.panelInfoItems li a:hover {
    color: #2daae1;    
    border: 1px solid #52a0a1;
    background-position: 0 -32px;
}

.panelInfoAssunto {
    padding: 0;
    margin:0;
    display: block;
    width:100%;
    height: 100%;
}

.panelInfoAssunto li {
    display: block;
    width: 100%;
    height: 32px;
}

.panelInfoAssunto li a {
    text-decoration: none;
    text-indent: 32px;
    line-height: 24px;
    color: #39235d;
    display: inline-block;
    padding: 0 0 0 8px;
    width: 100%;
    height: 24px;
    background-size: 24px auto;
    background-position: 8px 0;
    background-repeat: no-repeat;
}

.panelInfoAssunto li a:hover {
    color: #fff;
    background-color: #37354d;
    background-position: 8px -24px;
}

.scrollVertical {
    overflow-x: hidden;
    overflow-y: auto;
}

.emptyEvent {
    display: inline-block;
    font-size: 2em;
    color: #9c93ad;
    margin-top: 20%;
    margin-left: 25%;
    margin-right: 25%;
}

.selectedEvent {
    display: block;
    margin: 3em;
}

.selectedEvent img {
    float: left;
    margin: 8px 16px;
    padding: 6px;
    width: 90px;
    height: auto;
    border: 1px solid #534f73;
}

.selectedEvent h1 {
    font-size: 14pt;
}

.selectedEvent h2 {
    color: orangered;
    font-weight: normal;
    font-size: 12pt;
}

.selectedEvent p {
    font-size: 11pt;
}

.selectedEvent .details {
    width: 100%;
    height: auto;
    clear: both;
}

.selectedEvent .detailRegionalInteressado {
    width: 100%;
    height: auto;
}

.selectedEvent .detailLabel {
    display: inline-block;
    width: 2.8em;
    height: auto;
    padding: 2px;
    color: #333;
}

.selectedEvent .detailRegionalInteressado div {
    display: inline-block;
    width: auto;
    height: 32px;
}

.selectedEvent .detailRegionalInteressado div div {
    display: inline-block;
}

.selectedEvent .detailRegionalInteressado div div ul {
    display: inline-block;
}

.selectedEvent .detailRegionalInteressado div div ul li {
    display: inline-block;
    margin-left: 1em;
    color: #39235d;
    font-weight: bold;
}

.calendarSelector {
    position: absolute;
    top: 34px;
    bottom: 0;
    right: 0;
    width: 300px;
    background: #554d92;
}

/**************************************** footer ******************************/
.footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    min-height: 96px;
    background: #00588f;
    text-align: center;
    border-top: 1px solid #fff;
    font-size: 0.9em;
}

.footerGrid {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-top: 8px;
    margin-left: 2%;
    margin-right: 2%;
}

.footerGrid img {
    display: inline-block;
    width: 64px;
    height: auto;
    float: left;
    position: relative;
    top: -8px;
}

.footerGrid span {
    float: left;
    display: inline-block;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    color: #ffff00;
}

.footer p {
    color: #aebcd4;
    line-height: 120%;
    margin: 0;
}

.footer h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    color: #eeee99;
}



.col10 {
    width: 10%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col30 {
    width: 30%;
}

.col33 {
    width: 33%;
}

/********************************** adaptive layout ***************************/

@media(max-width: 767px) {
    .instituicaoTitle {
        display: inline-block;
        font-size: 1.0em;
        color: #fff;
    }

    .calendarTitle {
        margin-top: 6px;
        font-size: 1.1em;
    }

    .boxContainer {
        margin: 4px 2px;
    }

    .boxContainer:nth-child(-n+3) {
        width: 48%;
    }

    .boxContainer:nth-child(n+4) {
        width: 97%;
    }

}

@media(max-width: 480px) {
    .homeLinks ul li {
        display: block;
    }

    .homeLinks ul li:nth-child(n) {
        margin-left: 4px;
        font-size: 0.9em;
    }

    .boxContainer:nth-child(-n+3) {
        width: 99%;
    }

    .boxContainer:nth-child(n+4) {
        width: 99%;
    }
}