/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/01/2015, 21:48:13
    Author     : andre
*/
/******************************** generic styles ******************************/
body {
    font-family: Lucida Grande,Geneva,Helvetica,sans-serif;
    margin: 0;
    background-color: #edf3f6;
    font-size: 1em;
}

.horizontalRule {
    border: none;
    height: 1px;
    background-color: #999;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.ui-widget {
    font-family: Lucida Grande,Geneva,Helvetica,sans-serif;
    font-size: 1em;
}
/********************************** home **************************************/
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.innerTitleContainer {
    display: block;
    padding: 8px;
}

.homeHeader {
    width: 100%;
    height: 128px;
    margin-bottom: 2px;
    background-color: #00588f;
}

.instituicaoTitle {
    font-size: 1.1em;
    color: #fff;
}

.calendarTitle {
    display: inline-block;
    color: #FFF;
    font-size: 2em;
    font-weight: bold;
    text-indent: 8px;
    text-align: left;
    line-height: 100%;
    text-transform: uppercase;
    width: 100%;
}

.homeLinks {
    display: block;
    width: 100%;
}

.homeLinks a {
    color: #fff;
    text-decoration: none;
}

.homeLinks a:hover {
    color: #ffff00;
}

.homeLinks ul {
    margin: 0;
    padding-left: 8px;
    text-transform: capitalize;
    display: inline-block;
}

.homeLinks ul li {
    display: inline-block;
    list-style-type: none;
}

.homeLinks ul li:nth-child(even) {
    margin-left: 10px;
}

.loginLink {
    float: right;
    background-image: url("#{resource['img/settings-mini.png']}");
    background-repeat: no-repeat;
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

/********************************** forms *************************************/
.formContainer {
    text-align: center;
}

.monthContainer {
    display: inline-block;
    width: 99%;
    background: transparent;
    text-align: center;
}

.monthGrid {
    width: 98%;
    border: 0;
    border-collapse: collapse;
    margin: 1%;
}

.monthGrid td {
    width: 25%;
    text-align: center;
}

.monthGrid input {
    width: 98%;
    padding: 4% 2%;
    margin: 2px 0 2px 0;
    border: 1px solid #999;
    color: #555;
    background-color: #fff;
}

.monthGrid input:hover {
    color: #000;
    background-color: #d3f2e4;
    cursor: pointer;
}

.boxContainer {
    display: inline-block;
    width: 32%;
    height: 20%;
    margin: 8px 3px;
    background: transparent;
}

.scroller {
    overflow-y: auto;
    width: 99%;
    height: 200px;
    text-align: left;
    margin-left: 1px;
    border: 1px solid #ccc;
}

.scroller a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
}

.scroller a:hover {
    color: #000;
}

.boxHeader {
    margin: 8px 2px 0 2px;
    text-transform: capitalize;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    width: 100%;
    text-indent: 8px;
}


.listSelector {
    display: block;
    width: 100%;
    height: 100%;
}


/**************************************** footer ******************************/
.footer {
    display: block;
    width: 100%;
    height: 200px;
    background: #00588f;
    text-align: center;
}

.footer img {
    display: block;
    width: 72px;
    height: auto;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    color: #ffff00;
}

.footer p {
    font-size: 0.9em;
    color: #fff;
    line-height: 120%;
    margin: 0;
}

.footer h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    color: #eeee99;
}

.footerGrid {
    display: inline-block;
    width:95%;
    text-align: left;
}

.col10 {
    width: 10%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

/********************************** adaptive layout ***************************/

@media(max-width: 767px) {
    .instituicaoTitle {
        display: inline-block;
        font-size: 1.0em;
        color: #fff;
    }

    .calendarTitle {
        margin-top: 6px;
        font-size: 1.1em;
    }

    .boxContainer {
        margin: 4px 2px;
    }

    .boxContainer:nth-child(-n+3) {
        width: 48%;
    }

    .boxContainer:nth-child(n+4) {
        width: 97%;
    }

}

@media(max-width: 480px) {
    .homeLinks ul li {
        display: block;
    }

    .homeLinks ul li:nth-child(n) {
        margin-left: 4px;
        font-size: 0.9em;
    }

    .boxContainer:nth-child(-n+3) {
        width: 99%;
    }

    .boxContainer:nth-child(n+4) {
        width: 99%;
    }
}