/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/01/2015, 21:48:13
    Author     : andre
*/
/******************************** generic styles ******************************/
.horizontalRule {
    border: none;
    height: 1px;
    background-color: #999;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.ui-widget {
    font-family: Lucida Grande,Geneva,Helvetica,sans-serif;
    font-size: 1em;
}
/********************************** home **************************************/
.container {
    position: absolute;
    top: 86px;
    left: 10%;
    right: 10%;
    bottom: 2%;
    background: #fff;
    border: 2px solid #00588f;
    border-radius: 0 0 4px 4px;
}

.loginLink {
    float: right;
    background-image: url("#{resource['img/settings-mini.png']}");
    background-repeat: no-repeat;
    margin-top: 6px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    padding: 1px;
    opacity: 0.5;
    transition: all 0.25s ease-in-out;
}

.loginLink:hover {
    opacity: 1.0;
}


/******************************** contents ************************************/
#content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 106px;
    background-color: #575757;
    overflow: hidden;
}
/********************************** tabs **************************************/
.tabGroup {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

.tabGroup > input[type="radio"] {
    display: none;
}

.tabGroup > input[type="radio"] + label {
    display: inline-block;
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
    padding: 8px 8px;
    background-color:#b3b3b3;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    height: 20px;
}

.tabGroup > input[type="radio"]:checked + label {
    background: #00588f;
    border-bottom: 0;
    margin-bottom: -1px;
    transition: all 300ms ease-in-out;
}

.tab {
    display: none;
    height: 100%;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.panelTitleCalendar {
    width: 100%;
    height: 36px;
    padding-top: 12px;
    background-color: #00588f;
    font-weight: normal;
    font-size: 14pt;
    border-bottom: 1px solid #52a0a1;
}

.panelTitleCalendar span:first-child {
    color: aquamarine;

    margin-left: 24px;
    float: left;
}

.panelTitleCalendar span:last-child{
    color: #fff;
    margin-right: 24px;
    float: right;
}

.panelInfoCalendar {
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 300px;
    color: #fff;
    background: #5b5b5b;
}

.panelInfoCalendar .title {
    display: inline-block;    
    width: 100%;
    margin-top: 1em;
}

.panelInfoCalendar .title p {
    display: inline;
}

.panelInfoCalendar .title p:first-child {
    float: left;
}

.panelInfoCalendar .title p:last-child {
    float: right;
}

.panelInfoCalendar p {
    font-size: 1em;
    text-indent: 16px;
    text-align: justify;
    margin: 1.5em;
}

.calendarSelector {
    position: absolute;
    top: 34px;
    bottom: 0;
    right: 0;
    width: 300px;
    background: #554d92;
}

/**************************************** footer ******************************/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    background: #00588f;
    text-align: center;
    border-top: 1px solid #fff;
}

.footer img {
    display: block;
    width: 64px;
    height: auto;
    float: left;
    position: relative;
    top: -8px;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    color: #ffff00;
}

.footer p {
    font-size: 0.9em;
    color: #fff;
    line-height: 120%;
    margin: 0;
}

.footer h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    color: #eeee99;
}

.footerGrid {
    display: inline-block;
    width:95%;
    text-align: left;
}

.col10 {
    width: 10%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col33 {
    width: 33%;
}

/********************************** adaptive layout ***************************/

@media(max-width: 767px) {
    .instituicaoTitle {
        display: inline-block;
        font-size: 1.0em;
        color: #fff;
    }

    .calendarTitle {
        margin-top: 6px;
        font-size: 1.1em;
    }

    .boxContainer {
        margin: 4px 2px;
    }

    .boxContainer:nth-child(-n+3) {
        width: 48%;
    }

    .boxContainer:nth-child(n+4) {
        width: 97%;
    }

}

@media(max-width: 480px) {
    .homeLinks ul li {
        display: block;
    }

    .homeLinks ul li:nth-child(n) {
        margin-left: 4px;
        font-size: 0.9em;
    }

    .boxContainer:nth-child(-n+3) {
        width: 99%;
    }

    .boxContainer:nth-child(n+4) {
        width: 99%;
    }
}